@model Haver_Niagara.Models.Engineering

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Engineering</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerNotify)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerNotify)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrawUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrawUpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disposition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disposition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionOriginal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevisionOriginal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevisionUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevisionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngSignatureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngSignatureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngDecision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NCR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NCR.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
