@model Haver_Niagara.ViewModels.EmployeeAdminVM


<h2>Edit</h2>

<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control"  autofocus />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <div>
                    Note:  Changing Email will reset the password for the new Login and the user will need to use Forgot Password with the new Email.
                </div>
            </div>
            <div class="form-group form-switch">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
                @{
                    if (Model.Active == true)
                    {
                                <div>
                                                    <strong>Making a user inactive will cause their login to the system will also be removed</strong>
                                </div>
                    }
                    else
                    {
                                <div><strong>If you make this user active, let them know to use Forgot Password to set a new one for this email address.</strong></div>
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="UserRoles" class="control-label"></label>
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<Haver_Niagara.ViewModels.RoleVM> roles = ViewBag.Roles;
                            foreach (var role in roles)
                            {
                                if (cnt++ % 3 == 0)
                                {
                                        @:</tr><tr>
                                }
                                        @:<td>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input role-checkbox" type="checkbox"
                                                       id="@role.RoleName-CheckBox"
                                                       name="selectedRoles"
                                                       value="@role.RoleName"
                                                       @(Html.Raw(role.Assigned ? "checked=\"checked\"" : "")) />
                                                <label class="form-check-label" "@role.RoleName-CheckBox">@role.RoleName  &nbsp;&nbsp;</label>
                                            </div>
                                        @:</td>
                            }
                                @:</tr>
                        }
                    </table>
                </div>
            </div>            
        </div>
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Save</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to save changes?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="confirmSave">Save</button>
            </div>
        </div>
    </div>
</div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            // Function to uncheck other checkboxes
            function uncheckOtherCheckboxes(checkbox) {
                $('.role-checkbox').not(checkbox).prop('checked', false);
            }

            // Change event handler for checkboxes
            $('.role-checkbox').on('change', function () {
                uncheckOtherCheckboxes($(this));
            });

            // Show confirmation modal when Save button is clicked
            $('form').submit(function (event) {
                event.preventDefault(); // Prevent default form submission

                // Check if Admin checkbox is unchecked
                if (!$('#Admin-CheckBox').prop('checked')) {
                    // Show warning if Admin checkbox is unchecked
                    $('#confirmationModal .modal-body').text("Admin role must be selected!");
                } else {
                    // Show confirmation modal
                    $('#confirmationModal').modal('show');
                }
            });

            // Handle form submission after confirmation
            $('#confirmationModal').on('click', '#confirmSave', function () {
                $('form').off('submit').submit(); // Submit the form
            });
        });
    </script>

}

