
@model IEnumerable<Haver_Niagara.Models.NCR>

﻿@{
    ViewData["Title"] = "Home Page";
}




<h1 class="mt-4 mb-4"> Non-conformance Log</h1>

@* Microsoft tutorial in home controller, currently works once then breaks, trying to fix. *@
<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Date Created</th>
            <th>@Html.ActionLink("Product Number", "Index", new { sortOrder = ViewBag.POSortParam })</th>
            <th>@Html.ActionLink("Supplier", "Index", new { sortOrder = ViewBag.SupplierSortParam })</th>
            <th>Problem</th>
            <th>@Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StageSortParam })</th>
          @*  <th>Status</th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.NCR_Number</td>
            <td>@item.InspectDate.ToString("MMM dd, yyyy")</td>
            <td>@item.Product.ProductNumber</td>
            <td>@item.Product.Supplier.Name</td>
                   <td>
                    @foreach (var defectList in item.Product.DefectLists)
                    {
                        @defectList.Defect.Name;
                    }
                </td> 
                <td>@(item.NCRClosed ? "Closed" : "Open")</td>
         @*   <td><button type="button" class="btn btn-primary">Active</button></td>*@
            <td><button type="button" class="view-btn" title="View NCR report"><ion-icon name="eye"></ion-icon></button></td>
        </tr>
        }
    </tbody>
</table>