@model IEnumerable<Haver_Niagara.Models.NCR>

﻿@{
    ViewData["Title"] = "NCR List";
}



<div class="d-flex justify-content-between">
    <h1 class="mt-4 mb-4"> Non-Conformance Log</h1>
    <p>
      <a asp-controller="NCRs" asp-action="Create" class="btn btn-primary">Create NCR Report</a>
    </p>
</div>


@using (Html.BeginForm())
{
    <p>
        Filter By Search: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">@Html.ActionLink("Status", "List", new { sortOrder = ViewBag.StageSortParam })</th>
            <th class="text-center">NCR Number</th>
            <th class="text-center">@Html.ActionLink("Date Created", "List", new { sortOrder = ViewBag.DateSortParam })</th>
            <th class="text-center">@Html.ActionLink("Product Number", "List", new { sortOrder = ViewBag.POSortParam })</th>
            <th >@Html.ActionLink("Supplier", "List", new { sortOrder = ViewBag.SupplierSortParam })</th>
             <th>Stage</th>
            <th class="text-center">Action</th>
            @* <th>Edit</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {                           //Added some validation, will remove later.
            <tr>
                <td class="text-center">
                    @if (item.NCRClosed)
                    {
                        <button class="status-btn closed" title="Closed"></button>
                    }
                    else
                    {
                        <button class="status-btn active" title="Active"></button>
                    }
                </td>
                <td class="text-center">@item.NCR_Number</td>
                <td class="text-center">@item.InspectDate.ToString("MMM dd, yyyy")</td>
                <td class ="text-center">@(item.Product?.ProductNumber.ToString() ?? "N/A")</td>
                <td >@(item.Product?.Supplier.Name.ToString() ?? "N/A")</td>
                <td><p class="stage">1/ Quality Inspection</p></td>
                <td class="text-center">
                    <div>
                    <a href="@Url.Action("Details", "NCRs", new { id = item.ID })" class="view-btn me-1" title="View NCR report">
                        <ion-icon name="eye"></ion-icon>
                    </a>
                        <a href="@Url.Action("Edit", "NCRs", new { id = item.ID })" class="view-btn" title="Edit NCR report">
                            <ion-icon name="create"></ion-icon>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>