@using System.ComponentModel.DataAnnotations
@model Haver_Niagara.Models.NCR

@{
    ViewData["Title"] = "Create";
}
<partial name="_addDefectModal" />
<partial name="_addSupplierModal" />
@* h1 *@
<div class="pt-2 pb-0 ps-1 fs-5 d-flex justify-content-between">
    <dl class="d-flex">
        <dt class="text-muted">
            @* Create NCR Report *@
            @{
                var OldNCRNumber_id = ViewBag.OldNCRID != null ? $"Previous NCR No. {DateTime.UtcNow.Year}-{ViewBag.OldNCRID.ToString().PadLeft(3, '0')}" : "Create NCR Report";
            }
            <span class="m2-2">
                @OldNCRNumber_id
            </span>
        </dt>
    </dl>
    <dl class="d-flex">
        <dt>
            <label asp-for="NCR_Date" class="control-label"></label>
        </dt>
        <dd class="ms-2">
            <input asp-for="NCR_Date" disabled class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="NCR_Date" class="text-danger"></span>
        </dd>
    </dl>
</div>

<form class="" id="myForm" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @*     <input type="hidden" asp-for="ID" /> *@
    <input type="hidden" name="oldNCRID" value="@ViewBag.OldNCRID" />
    <div>
        @* Quality Inspector Section *@
        <div class="row border m-1 p-2 ps-3 fs-6 section-header">1/ Quality Representative</div>
        @* row 1 *@
        <div class="row m-1">
            <div class="col-sm-4 border pt-3 ps-3">
                <dl>
                    <dt>
                        Identify Process Applicable:
                    </dt>
                    <dd class="mt-1 ms-2">
                        <div class="form-group">     
                            @foreach (var qualityIdentify in Enum.GetValues(typeof(QualityIdentify)))
                            {
                                <div class="form-check form-check-inline">
                                    <input type="radio" asp-for="QualityInspection.QualityIdentify" class="form-check-input" value="@qualityIdentify" id="@($"qualityIdentify{qualityIdentify}")"/>
                                    <label class="" for="@($"qualityIdentify{qualityIdentify}")">@((typeof(QualityIdentify).GetMember(qualityIdentify.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false)[0] as DisplayAttribute).Name)</label>
                                </div>
                            }
                            <span asp-validation-for="QualityInspection.QualityIdentify" class="text-danger"></span>
                        </div>

                    </dd>
                </dl>
            </div>
            <div class="col-sm-4 border pt-3 ps-3">
                <dl>
                    <dt>Supplier:</dt>
                    <dd>
                        <div class="form-group mt-1">       
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" id="nowAddSupplier" data-bs-toggle="modal" data-bs-target="#addSupplierModal" type="button">&#x2795;</button>
                                </div>
                                <select asp-for="NCRSupplierID" class="form-control" name="NCRSupplierID"  asp-items="ViewBag.SupplierID">
                                    <option value="">Select Supplier</option>
                                </select>
                            </div>
                            <span asp-validation-for="NCRSupplierID" class="text-danger"></span>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4 border pt-3 ps-3">
                <div class="row">
                    <dl class="d-flex mb-2">
                    </dl>
                </div>
                <div class="row">
                    <dl class="d-flex m-0">
                        <dt class="col-sm-5 ">
                            PO No.
                        </dt>
                        <dd class="col-sm-7 ">
                            <input asp-for="Part.PurchaseNumber" class="form-control" />
                            <span asp-validation-for="Part.PurchaseNumber" class="text-danger"></span>
                        </dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="d-flex m-0">
                        <dt class="col-sm-5 ">
                            Prod. No.
                        </dt>
                        <dd class="col-sm-7 ">
                            <input asp-for="Part.ProductNumber" class="form-control" />
                            <span asp-validation-for="Part.ProductNumber" class="text-danger"></span>
                        </dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="d-flex mb-1">
                        <dt class="col-sm-5 ">
                            Sales Order No.
                        </dt>
                        <dd class="col-sm-7">
                            <input asp-for="Part.SalesOrder" class="form-control"/>
                            <span asp-validation-for="Part.SalesOrder" class="text-danger"></span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        @* row 2 *@
        <div class="row m-1">
            <div class="col-sm-8 border pt-3 ps-3">
                <dl>
                    <dt>
                        Description of Item <span class="fw-light">(including SAP No.)</span>

                    </dt>
                    <dd class="mt-1">
                        <div class="form-group">
                            <label asp-for="Part.SAPNumber" class="control-label"></label>
                            <input asp-for="Part.SAPNumber" class="form-control" />
                            <span asp-validation-for="Part.SAPNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Part.Name" class="control-label"></label>
                            <input asp-for="Part.Name" class="form-control" />
                            <span asp-validation-for="Part.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Part.Description" class="control-label"></label>
                            <textarea asp-for="Part.Description" class="form-control" rows="3" cols="30"></textarea>
                            <span asp-validation-for="Part.Description" class="text-danger"></span>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="col-sm-4 border pt-3 ps-3">
                <div class="row">
                    <dl class="d-flex m-0">
                        <dt class="col-sm">
                            <label asp-for="Part.QuantityRecieved" class="control-label"></label>
                        </dt>
                        <dd class="col-sm">
                            <input asp-for="Part.QuantityRecieved" class="form-control" />
                            <span asp-validation-for="Part.QuantityRecieved" class="text-danger"></span>
                        </dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="d-flex">
                        <dt class="col-sm">
                            <label asp-for="Part.QuantityDefect" class="control-label"></label>
                        </dt>
                        <dd class="col-sm">
                            <input asp-for="Part.QuantityDefect" class="form-control" />
                            <span asp-validation-for="Part.QuantityDefect" class="text-danger"></span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        @* row 3 *@
        <div class="row m-1">
            <div class="col-sm-12 border pt-3 ps-3">
                <dl>
                    <dt>
                        Description of Defect <span class="fw-light">(in as much detail as possible)</span>
                    </dt>
                    <dd class="mt-1">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" id="nowAddDefect" data-bs-toggle="modal" data-bs-target="#addDefectModal" type="button">&#x2795;</button>
                                </div>
                                <select id="defectID" name="SelectedDefectID"  class="form-control" required>
                                    <option value="">-- Select a Defect --</option>
                                    @foreach (var defect in ViewBag.DefectList)
                                    {
                                        <option value="@defect.Value">@defect.Text</option>
                                    }
                                </select>
                            </div>
                            <span class="text-danger" id="defectError"></span>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        @* row 4 *@
        <div class="row m-1 border pt-3 pb-3 ps-2">
            <span class="col-sm-3 fw-bold ">
                Item marked Non-conforming
            </span>
            <span class="col-sm-2">
                <div class="form-group">
                    @* <label asp-for="QualityInspection.ItemMarked" class="control-label"></label><br /> *@
                    <div class="form-check form-check-inline">
                        <input asp-for="QualityInspection.ItemMarked" class="form-check-input" type="radio" value="true" id="itemMarkedYes" />
                        <label class="form-check-label" for="itemMarkedYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="QualityInspection.ItemMarked" class="form-check-input" type="radio" value="false" id="itemMarkedNo" />
                        <label class="form-check-label" for="itemMarkedNo">No</label>
                    </div>
                    <span asp-validation-for="QualityInspection.ItemMarked" class="text-danger"></span>
                </div>
            </span>
            <div class="col-sm-7 text-muted small">
                Check yes if item was marked with a red tag
            </div>

        </div>
        @* row 5 *@
        <div class="row m-1 border">
            <dl class="ps-3">
                <dt class="col-sm pt-3">
                    Select Images
                    <div class="form-group mt-3">
                        @* <label for="files">Select files:</label> *@
                        <input type="file" name="files" id="files" class="form-control-file" multiple />
                    </div>
                </dt>
                <dd class="col-sm pt-3 ps-3 d-flex">
                    @* display image uploaded  fix*@
                </dd>
            </dl>
        </div>
        @* row 6 *@
        <div class="row m-1">
            <div class="col-sm-12 border pt-3 ps-3">
                <dl>
                    <dt class="">
                        Links
                    </dt>
                    <dd class="d-flex">
                        @* display links  fix *@
                    </dd>
                </dl>
                <div class="form-group ps-3 mb-3">
                    <div class="col-md-6">
                        <label for="links">Enter links (one per line):</label>
                        <textarea name="links" class="form-control"></textarea>
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-1 border p-3">
            <div class="col-sm-6">
                <dl class="m-0 ">
                    <dt class="">
                        Quality Representative's Name
                    </dt>
                    <dd class="col-sm">
                        <div class="form-group">
                            <input asp-for="QualityInspection.Name" class="form-control" />
                            <span asp-validation-for="QualityInspection.Name" class="text-danger"></span>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="col-sm-6">
                <dl class="">
                    <dt class="">
                        Date
                    </dt>
                    <dd class="col-sm">
                        <div class="form-group">
                            @* <label asp-for="QualityInspection.Date" class="control-label"></label> *@
                            <input asp-for="QualityInspection.Date" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                            <span asp-validation-for="QualityInspection.Date" class="text-danger"></span>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    @{
        if (!ViewData.ModelState.IsValid)
        { 
            // When the page post to server fails, the selected id gets saved and returned from controller to here
            // and then when the page reloads "Dom Content Loaded", it sets the ddl to that saved value 
            <script>
                // JavaScript code to set the selected value of the dropdown list
                document.addEventListener("DOMContentLoaded", function () {
                    var selectedDefectID = @Html.Raw(Json.Serialize(ViewBag.SelectedDefectID));
                    document.getElementById("defectID").value = selectedDefectID;
                });
            </script>
        }
    }


    <div class="d-flex justify-content-between mt-3">
        <div class="mt-2">
            <a id="cancel-button" asp-controller="Home" asp-action="List" class="btn btn-outline-danger">Cancel</a>
        </div>
        <div class="mt-2">
            <input type="submit" value="Create Report" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script>  //https://stackoverflow.com/questions/63913825/jquery-validator-not-working-properly-on-a-select-dropdown     
        $(document).ready(function () {
            $('#myForm').validate({
                errorClass: "defectError",
                rules: {
                    SelectedDefectID: 'required'
                },
                messages: {
                    SelectedDefectID: "Please select a defect"
                },
                highlight: function (element, errorClass) {
                    $(element).removeClass(errorClass); //prevent class to be added to selects
                },
                submitHandler: function (form) {
                    //do something
                    form.submit();
                }
            });
        });
    </script>
    <style>
        .defectError {
            color:red;
        }
    </style>
   
    @* QUICKLY ADD OPTION TO SUPPLIER SELECT DROP DOWN LIST *@
    <script src="~/js/refreshDDL.js"></script>
    <script type="text/javascript">
        $('#submitSupplierCreate').click(function (event) {
            event.preventDefault();
            ClearErrors();
            var form = $('#createSupplierForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addSupplierModal').modal('hide');
                    },
                    error: function (xhr) { //Note: xhr is the XMLHttpRequest
                        var errorMessages = [];
                        switch (xhr.status) {
                            case 401:
                                errorMessages.push("You must be logged in first.");
                                break;
                            case 403:
                                errorMessages.push("You are not authorized for this action.");
                                break;
                            default:
                                //Messages coming from the Model State Errors
                                //We split on the | delimeter and the .slice removes the last one
                                errorMessages = xhr.responseText.split("|").slice(0, -1);
                        }
                        //This checks if there are any elements with some content
                        //and if not then it provides a default feedback message.
                        if (!errorMessages.some((str) => str !== "")) {
                            errorMessages.push("Error: Unable to complete operation");
                        }
                        //Put the messages in the ErrorList ul contained in the 'ValidaitonSummary' div.
                        var ul = document.getElementById("ErrorList");
                        for (var i = 0; i < errorMessages.length; i++) {
                            var errorMessage = errorMessages[i];
                            var li = document.createElement("li");
                            li.innerHTML = errorMessage;
                            ul.appendChild(li);
                        }
                    }
                });
            }
            return false;
        });
        $('#addSupplierModal').on('hide.bs.modal', function () {
            document.getElementById("createSupplierForm").reset();//to clear the data in the popup form
            ClearErrors();
            var selectedOption = $('#NCRSupplierID').val();//Return to the current selected value
            refreshDDL('NCRSupplierID', '/NCRs/GetSuppliers/' + selectedOption, false, null, true, null, true);
        });
        function ClearErrors() {
            //Empty out the list of validation errors if there are any
            var ul = document.getElementById("ErrorList");
            while (ul.firstChild) {
                ul.removeChild(ul.firstChild);
            }
        }
    </script>
    @* Defect Modal / Form Javascript/////////// *@
    <script type="text/javascript">
        $('#submitDefectCreate').click(function (event) {
            event.preventDefault();
            ClearErrors();
            var form = $('#createDefectForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addDefectModal').modal('hide');
                    },
                    error: function (xhr) { //Note: xhr is the XMLHttpRequest
                        var errorMessages = [];
                        switch (xhr.status) {
                            case 401:
                                errorMessages.push("You must be logged in first.");
                                break;
                            case 403:
                                errorMessages.push("You are not authorized for this action.");
                                break;
                            default:
                                //Messages coming from the Model State Errors
                                //We split on the | delimeter and the .slice removes the last one
                                errorMessages = xhr.responseText.split("|").slice(0, -1);
                        }
                        //This checks if there are any elements with some content
                        //and if not then it provides a default feedback message.
                        if (!errorMessages.some((str) => str !== "")) {
                            errorMessages.push("Error: Unable to complete operation");
                        }
                        //Put the messages in the ErrorList ul contained in the 'ValidaitonSummary' div.
                        var ul = document.getElementById("ErrorList");
                        for (var i = 0; i < errorMessages.length; i++) {
                            var errorMessage = errorMessages[i];
                            var li = document.createElement("li");
                            li.innerHTML = errorMessage;
                            ul.appendChild(li);
                        }
                    }
                });
            }
            return false;
        });
        $('#addDefectModal').on('hide.bs.modal', function () {
            document.getElementById("createDefectForm").reset();//to clear the data in the popup form
            ClearErrors();
            var selectedOption = $('#defectID').val();//Return to the current selected value
            refreshDDL('defectID', '/NCRs/GetDefects/' + selectedOption, false, null, true, null, true);
        });
        function ClearErrors() {
            //Empty out the list of validation errors if there are any
            var ul = document.getElementById("ErrorList");
            while (ul.firstChild) {
                ul.removeChild(ul.firstChild);
            }
        }
    </script>
}



