@model IEnumerable<Haver_Niagara.Models.NCR>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="NCRs" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NCR_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCR_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCR_Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engineering)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NCR_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCR_Date)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NCR_Stage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operation.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engineering.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
