@using System.ComponentModel.DataAnnotations
@model Haver_Niagara.Models.NCR

@{
    ViewData["Title"] = $"Editing {@Model.FormattedID} - Quality Inspection";
}

<partial name="_addSupplierModal" />
<partial name="_addDefectModal" />
@* h1 *@
<dl>
    <dt class="text-muted">
        @* Should show previous ncr number if one is linked *@
        @{
            var OldNCRNumber_id = ViewBag.OldNCRID != null ? $"Previous NCR No. {DateTime.UtcNow.Year}-{ViewBag.OldNCRID.ToString().PadLeft(3, '0')}" : "";
        }
        <span class="m2-2">
            @OldNCRNumber_id
        </span>
    </dt>
</dl>
<div class="pt-2 pb-0 ps-1 fs-5 d-flex justify-content-between">
    <dl class="d-flex">
        <dt>
            @Html.DisplayNameFor(model => model.FormattedID)
        </dt>
        <dd class="ms-2">
            @Html.DisplayFor(model => model.FormattedID)
        </dd>
    </dl>
    <div class="d-flex">

        <dl class="d-flex">
            <dt>
                <label asp-for="NCR_Date" class="control-label"></label>
            </dt>
            <dd class="ms-2">
                <input asp-for="NCR_Date" class="form-control" type="date" disabled />
                <span asp-validation-for="NCR_Date" class="text-danger"></span>
            </dd>
        </dl>

        @if (User.IsInRole("Admin"))
        {
            <!--back to admin edit-->
            <div class="d-flex justify-content-end">
                <a href="@Url.Action("Edit", "NCRs", new { id = @Model.ID })" class="btn btn-close ms-3" title="Cancel" id="cancel-button"></a>
            </div>
        }

    </div>
</div>
@if (!User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-between text-muted mb-3">
        <!--Previous Section = ProcurementDetails-->
        <a asp-action="ProcurementDetails" asp-route-id="@Model?.ID" class="btn-forward">
            <ion-icon name="arrow-back-circle-outline" class="btn-forward-icon"></ion-icon>
        </a>
        @if (Model.NCR_Stage == NCRStage.QualityRepresentative_Final)
        {
            <div>
                @foreach (var ncrStage in Enum.GetValues(typeof(NCRStage)))
                {
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="NCR_Stage" disabled class="form-check-input" value="@ncrStage" id="@($"ncrStage{ncrStage}")" />
                        <label for="@($"ncrStage{ncrStage}")">@((typeof(NCRStage).GetMember(ncrStage.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false)[0] as DisplayAttribute).Name)</label>
                    </div>
                }
            </div>
        }
        <!--back to quality rep details-->
        <a href="@Url.Action("QualityRepDetailsFinal", "NCRs", new { id = @Model.ID })" class="btn-forward" title="Cancel" id="cancel-button">
            <ion-icon name="close-circle-outline" class="btn-forward-icon"></ion-icon>
        </a>
    </div>
}
<!--hidden button, not functional - just for styling-->
@*   <button class="btn-forward pe-none">
        <ion-icon name="arrow-forward-circle-outline" class="btn-forward-icon bg-white "></ion-icon>
    </button> *@

<form class="" id="myForm" asp-action="QualityRepresentativeEdit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <div class="form-container">

        @if (User.IsInRole("Admin") || User.IsInRole("Quality Representative"))
        {
            @if (Model.NCR_Stage == NCRStage.QualityRepresentative_Final)
            {
                @* Final Quality Inspector Section *@
                <div class="section section-qual">
                    <div class="m-1 p-2 ps-3 fs-6 section-header d-flex justify-content-between">
                        <span>5. Quality Representative</span>
                        <button class="border border-secondary rounded p-2 btn" id="btnFillCreate" title="Fill Form"></button>
                    </div>

                    @* <div class="row border m-1 p-2 ps-3 fs-6 section-header">5. Quality Representative</div> *@
                    @* row 13 *@
                    <div class="row m-1 border">
                        <div class="col-sm-3 pt-3 ps-3 d-flex justify-content-center">
                            <dl>
                                <dt>
                                    Re-Inspected acceptable?<span class="text-danger"> *</span><span class="fw-light"> (If "No", a new report will be created and linked to this one)</span>
                                </dt>
                                <dd class="mt-2">
                                    <div class="d-flex justify-content-center">
                                        <span class="ms-2 me-5">
                                            @* <label asp-for="QualityInspectionFinal.ReInspected" class="control-label"></label><br /> *@
                                            <div class="d-flex">
                                                @Html.RadioButtonFor(model => model.QualityInspectionFinal.ReInspected, true, new { @checked = Model.QualityInspectionFinal != null && Model.QualityInspectionFinal.ReInspected, id="reinspectAcceptable", @class = "me-2" })
                                                <label class="me-4">Yes</label>

                                                @Html.RadioButtonFor(model => model.QualityInspectionFinal.ReInspected, false, new { @checked = Model.QualityInspectionFinal != null && !Model.QualityInspectionFinal.ReInspected, @class = "me-2" })
                                                <label>No</label>
                                            </div>
                                            <span asp-validation-for="QualityInspectionFinal.ReInspected" class="text-danger"></span>
                                        </span>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm pt-2">
                            <small class="fw-light">
                            </small>
                            <div class="row">
                                <dl>
                                    <dt class="mt-2 col-sm fw-normal">
                                        @{
                                            if (Model.OldNCRID != null || Model.NewNCRID != null)
                                            {
                                                //if the old ncr id has an old ncr id value then we know it must be a preivous ncr number, else it must be new
                                                string ncrLabel = Model.OldNCRID != null ? "Previous NCR Number" : "New NCR Number";
                                                    @ncrLabel
                                            }
                                        }
                                    </dt>
                                    @{
                                        if (Model.OldNCRID != null || Model.NewNCRID != null)
                                        {
                                            //again if has value, show old value formatted, else show new value formatted.
                                            string formattedNCRID = Model.OldNCRID != null ? $"{DateTime.UtcNow.Year}-{Model.OldNCRID.ToString().PadLeft(3, '0')}"
                                            : $"{DateTime.UtcNow.Year}-{Model.NewNCRID.ToString().PadLeft(3, '0')}";
                                                <dd class="m2-2">
                                                    @formattedNCRID
                                                </dd>
                                        }
                                    }
                                </dl>
                            </div>
                        </div>
                        <div class="col-sm-6 border pt-3 ps-3">
                            <div class="row">
                                <dl class="d-flex m-0">
                                    <dt class="col-sm">
                                        Inspector's Name<span class="text-danger"> *</span>
                                    </dt>
                                    <dd class="col-sm ms-2">
                                        <input asp-for="QualityInspectionFinal.InspectorName" value="@ViewBag.FullName" class="form-control" />
                                        <span asp-validation-for="QualityInspectionFinal.InspectorName" class="text-danger"></span>
                                    </dd>
                                </dl>
                            </div>
                            <div class="row">
                                <dl class="d-flex">
                                    <dt class="col-sm">
                                        Date
                                    </dt>
                                    <dd class="col-sm ms-2">
                                        <div class="form-group">
                                            <input asp-for="QualityInspectionFinal.InspectorDate" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                                            <span asp-validation-for="QualityInspectionFinal.InspectorDate" class="text-danger"></span>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    @* row 14 *@
                    <div class="row m-1 border">
                        <div class="col-sm-6 pt-3 ps-3 d-flex justify-content-start">
                            <dl>
                                <dt>
                                    Keep report status active?<span class="text-danger"> *</span><span class="fw-light"> (If "No" this report will be marked as closed and moved to closed reports list)</span>
                                </dt>
                                <dd class="mt-2">
                                    <div class="d-flex justify-content-center">
                                        <div class="ms-2 me-5">
                                            @Html.RadioButtonFor(model => model.NCR_Status, true, new { @checked = Model != null && Model.NCR_Status, @class = "me-2" })
                                            <label class="me-4">Yes</label>

                                            @Html.RadioButtonFor(model => model.NCR_Status, false, new { @checked = Model != null && !Model.NCR_Status, @class = "me-2" })
                                            <label>No</label>
                                        </div>
                                        <span asp-validation-for="NCR_Status" class="text-danger"></span>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6 border pt-3 ps-3">
                            <div class="row">
                                <dl class="d-flex m-0">
                                    <dt class="col-sm">
                                        Quality Department<span class="text-danger"> *</span>
                                    </dt>
                                    <dd class="col-sm ms-2">
                                        <div class="form-group">
                                            <input asp-for="QualityInspectionFinal.Department" class="form-control" />
                                            <span asp-validation-for="QualityInspectionFinal.Department" class="text-danger"></span>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="row">
                                <dl class="d-flex">
                                    <dt class="col-sm">
                                        Date
                                    </dt>
                                    <dd class="col-sm ms-2">
                                        <div class="form-group">
                                            <input asp-for="QualityInspectionFinal.DepartmentDate" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                                            <span asp-validation-for="QualityInspectionFinal.DepartmentDate" class="text-danger"></span>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        @{
            //If it tries to post to the server and its denied, instead of losing defect store it when page (reloads)
            if (!ViewData.ModelState.IsValid)
            {
                    <script>
                        // JavaScript code to set the selected value of the dropdown list
                        document.addEventListener("DOMContentLoaded", function () {
                            var selectedDefectID = @Html.Raw(Json.Serialize(ViewBag.SelectedDefectID));
                            document.getElementById("defectID").value = selectedDefectID;
                        });
                    </script>
            }
        }

    </div>
    <!--action buttons-->
    @if (Model.NCR_Stage != NCRStage.QualityRepresentative_Final)
    {
        <div class="d-flex justify-content-end mt-3">
            @if (!User.IsInRole("Admin"))
            {
                <!--cancel goes back to details view-->
                <div class="mt-2 me-3">
                    <a id="cancel-button" asp-route-id="@Model?.ID" asp-action="QualityRepDetailsFinal" class="btn btn-outline-danger">Cancel</a>
                </div>
            } else
            {
                <!--back to admin edit-->
                <div class="mt-2 me-3">
                    <a id="cancel-button" asp-route-id="@Model?.ID" asp-action="Edit" class="btn btn-outline-danger">Cancel</a>
                </div>
            }
            <!--save report-->
            <span class="mt-2">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </span>
        </div>
    }
    <!--mark as completed button (should submit form if all required fields are filled and email next department)-->
    @if (Model.NCR_Stage == NCRStage.QualityRepresentative_Final)
    {
        <div class="d-flex justify-content-between mt-3">

            <div class="d-flex">
                @if (!User.IsInRole("Admin"))
                {
                    <!--back to details view-->
                    <div class="mt-2 me-3">
                        <a id="cancel-button" asp-route-id="@Model?.ID" asp-action="QualityRepDetailsFinal" class="btn btn-outline-danger">Cancel</a>
                    </div>
                }
                else
                {
                    <!--back to admin edit-->
                    <div class="mt-2 me-3">
                        <a id="cancel-button" asp-route-id="@Model?.ID" asp-action="Edit" class="btn btn-outline-danger">Cancel</a>
                    </div>
                }
                <!--save report-->
                <span class="mt-2">
                    <input type="submit" value="Save Changes" class="btn btn-outline-primary" />
                </span>
            </div>

            <!--Mark as completed-->
            <div>
                <span class="mt-2 ms-2">
                    <input type="submit" id="markCompletedBtn" value="Section Completed" title="Mark section as completed" class="btn btn-primary" />
                </span>
            </div>

        </div>
    }
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- PRE-FILL DATA WHEN BUTTON CLICKED -->
    <script>
        document.getElementById('btnFillCreate').addEventListener('click', function (event) {
            event.preventDefault();

            document.getElementById('reinspectAcceptable').checked = true; //re-inspect acceptable
         
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('myForm').addEventListener('submit', function (event) {
            // Get the value of the clicked submit button
            var clickedButtonValue = event.submitter.value;

            // If the clicked button is "Mark as Completed"
            if (clickedButtonValue === 'Mark as Completed') {
                // Set a hidden field value to indicate mark as completed
                var hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = 'MarkAsCompleted';
                hiddenField.value = true;
                this.appendChild(hiddenField);
            }
        });
    </script>

}